<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=0.5,maximum-scale=1,user-scalable=no' />
  
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.19.1/mapbox-gl.js'></script> <!-- Map doesn't appear without this -->

  <link href='https://api.mapbox.com/mapbox-gl-js/v0.19.1/mapbox-gl.css' rel='stylesheet' /> <!-- styling for the bubbles -->
   
</head>
<body>

<div id='map'></div>

</body>
</html>




