
  <%= content_for :head do %>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <script src='https://api.mapbox.com/mapbox-gl-js/v0.19.1/mapbox-gl.js'></script>

  <link href='https://api.mapbox.com/mapbox-gl-js/v0.19.1/mapbox-gl.css' rel='stylesheet' />

  <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'>
  
  <% end %>


  <!-- <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'> -->


<body>

<%#= render template: 'layouts/_navbar' %>

<div id="map" class="mapboxgl-map">
  
  <div class="mapboxgl-canvas-container mapboxgl-interactive">

    <canvas class="mapboxgl-canvas" tabindex="0" width="748" height="400" style="position: absolute; width: 748px; height: 400px;">
      
    </canvas>
  </div>
</div>


</body>
</html>


  